.mk-header-holder{
	display:none;
}
.mk-header-padding-wrapper{
	display:none;
}
/*#theme-page .theme-page-wrapper{
	margin-top: 0px !important;
}
#theme-page .theme-page-wrapper .theme-content{
	padding-top: 0px !important;
}*/

